@mixin responsivi() {
  @media screen and (max-width: 540px) {
    @content;
  }
}

$Blue-200: hsl(193, 38%, 86%);
$Green-300: hsl(150, 100%, 66%);

$Blue-600: hsl(217, 19%, 38%);
$Blue-900: hsl(217, 19%, 24%);
$Blue-950: hsl(218, 23%, 16%);
